= extends 'layout.html'
= block title
	Request
= endblock

=block head
    <link href="static/css/contact.css" rel="stylesheet">
=endblock

= block body
<div class="page-message">
<h1>Contact Us</h1>
<h3>Comments, Questions, Suggestions, Concerns?</h3>
<hr class="intro-divider">
</div>
<div id="contactInfo">
  David Cahn: <a href="mailto:cahnda@seas.upenn.edu?Subject=TieBreaker%20Contact" target="_top">cahnda@seas.upenn.edu</a>
  <br />
  Jack Cahn: <a href="mailto:cahnja@seas.upenn.edu?Subject=TieBreaker%20Contact" target="_top">cahnja@seas.upenn.edu</a>
  <br />
  Santiago Buenahora: <a href="mailto:santb@seas.upenn.edu?Subject=TieBreaker%20Contact" target="_top">santb@seas.upenn.edu</a>
  <br />
  Alexander Piatski: <a href="mailto:alpi@seas.upenn.edu?Subject=TieBreaker%20Contact" target="_top">alpi@seas.upenn.edu</a>
 <br />
  Parker Stakoff: <a href="mailto:pstakoff@seas.upenn.edu?Subject=TieBreaker%20Contact" target="_top">pstakoff@seas.upenn.edu</a>
 
</div> 

= endblock
