= extends 'layout.html'

= block head
<script src="static/js/index.js"></script>
= endblock

= block title
	Home
= endblock

= block body

<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Tiebreaker</h1>
                        <h3>Decision Making on Steroids</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                             <li>
                            	<form action="./input" method="POST" id="frm">
									<input type="submit" value="Get Started" class="btn btn-default btn-lg">
								</form>
                            </li>
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Login</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->


= endblock