= extends 'layout.html'
= block title
	Request
= endblock

= block body
<div class="page-message">
<h1>Ask Away</h1>
<h3>What Do You Want to Know?</h3>
<hr class="intro-divider">
</div>
<form method="POST" id="frm">
  <p class="input-text"> My Question<p>
  <input type="text" name="description" value="" class="form-input"><br>
  <p class="input-text"> Option 1<p>
  <input type="text" name="option1" value="" class= "form-input"><br>
   <p class="input-text"> Option 2<p>
  <input type="text" name="option2" value="" class= "form-input"><br><br>
  <input type="submit" name="button" value="Submit" class="btn btn-default btn-lg"> 
</form>
= endblock
