= extends 'layout.html'
= block title
	Request
= endblock

=block head
    <link href="static/css/input.css" rel="stylesheet">
=endblock

= block body
<div class="page-message">
<h1>Ask Away</h1>
<h3>What Do You Want to Know?</h3>
<hr class="intro-divider">
</div>
<form method="POST" id="frm">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Question Description</span>
    <textarea type="textarea" name="description" value="" class= "form-control" aria-describedby="basic-addon1" placeholder="Which  is a better title, A or B?" ></textarea>  
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Option 1</span>
    <textarea type="textarea" name="option1" value="" class= "form-control" aria-describedby="basic-addon2" placeholder="Title 1" ></textarea>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Option 2</span>
    <textarea type="textarea" name="option2" value="" class= "form-control" aria-describedby="basic-addon3" placeholder="Title 2" ></textarea>
  </div>
  <br>
  <input type="submit" name="button" value="Submit" class="btn btn-default btn-lg"> 
</form>
<span class="error">{{error}}</span>
= endblock
